body{
	font-family: "Lucida Grande";
	font-size: 13px;
	min-width: 1000px;
}
.container{ 
	
}
.dropdown{
	cursor: pointer; 
}
.dropdown-menu{
	font-family: "Lucida Grande";
	font-size: 14px;
	text-align: center;
}
hr{
	border-color: silver;
	margin-top: 0px;
	padding: 0px;
}
.header{
	margin-bottom: 15px;
	border: 1px solid silver;
	background-color: #f9f9f9;
	height: 70px;
}
.header .container{
	
}
.box{
	margin:auto;
	box-shadow: 0.2px 0.5px 1.1px gray;
	border-radius: 5px;
	padding: 20px;	
	background-color: white;
	width: 25%;
}
.box-title{
	padding-top:20px;
	font-size: 16px;
}
.form-control:focus{
	box-shadow: none;
}
.validation-error{
	background: #FEF1EC;
    border: 1px solid #CD0A0A;
}
#handle-error{
	font-size: 13px;
}
#domain{
	padding: 5px;
}
.feeds{
	
}
.feed{
	margin-top: 5px;
}
.feed-title{
	font-family: "Droid Sans";
	font-weight: bold;
	color: #666;
}
.feed-body{
	margin:15px;
}

.feed-body:hover{
	
}
.date{
	font-size: 11px;
}
.sidebar{
	border:1px solid #ddd;
}
.sidebar > li{
	padding: 2px;
}
.domain-questions{
	margin-top: 10px;
}
.question{
	cursor: pointer;
	box-shadow: 0px 0.2px 0.5px #aaa;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom:10px;	
}
.question:hover{
	/*box-shadow: 0px 1px 0.5px #aaa;*/
}
.message{
	/*box-shadow: 0px 1px 0.5px #aaa;*/
	border: 1px solid #aaa;
	padding: 10px;	
	margin-bottom: 10px;
}
.challenge{
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 0.5px 1px silver;
}
.challenge-title{
	color: #666;
	font-family: "Droid Sans";
	margin-bottom: 0px;
}
.challenge-title .title{
	padding: 0px 0px 0px 5px;
}
.challenge-title .date{
	font-size: 12px;
}
.challeger-suggestions{
	height: 100px;
	overflow-y:scroll; 
}
#testcase-list li{
	margin-left: 5px;
}
.graphs{
	margin:auto;
}
.graph{
	border: 1px solid silver;
}
.graph-title{
	font-weight: bold;
	color: #666;
	font-family: "Droid Sans";
	text-align: center;
}
.graph-body{
	padding: 10px;
}
.logo{
	width: 55px;
}
#handle-img{
	width: 35px;
}
.challenger-image:hover{
	text-decoration: none;
}
.challenger-image img{
	width: 28px;
}
.pointer{
	cursor: pointer;
}
#codegress-logo{
	width:38px;
}
.forgot-text{
	position: relative;
	left: 10px;
}
.btn-login{
	position: relative;
	left: 140px;
}
.editor-wrapper{
	width: 70%;
}
.select-wrapper{
	width: 20%;
}
.custom-input{
	margin-top: 10px;
	width: 60%;
}
#compile-btn{
	margin-top:10px; 
}
#loading{
	width:25px;
	margin-top:10px;
}
.ack{
	
}
.ack > li{
	margin-bottom: 10px;
}
.ack-header{
	
}
.ack-body{

}
.profile-image{
	text-align: center;
}
.profile-image > img{
	width: 40%;
}
.profile-image > span{
	position: absolute;
	top: 100px;
	left:275px;
}
.profile-info{
	width: 25%;
}
.profile-content{
	margin-top: 10px;
	border: 1px solid silver;
	height: 200px;
}
.glyphicon-pencil{
	cursor: pointer;
}
.edit-profile{
	padding-right: 10px;
	padding-top: 10px;
}
.profile-editor{
	width:70%;
	border: 1px solid silver;
}
.personal-editor,.password-editor{
	margin: auto;
	width:70%;
	border: 1px solid silver;
}
 .personal-editor > form  > ul, .password-editor > form > ul {
	list-style-type: none;
	padding :15px;
}
.personal-editor>form > ul > li, .password-editor > form > ul >li {
	padding: 8px;
}
.edit-input{
	margin : auto;
}
.challenge-options{
	margin-top: 5px;
	margin-left: 10px;
}
.challenge-options > li{
	cursor: pointer;
}
.follow-suggestions{
	
}
.follower{
	text-align: center;
	width: 100px;
	padding: 10px;
	margin:10px;
	box-shadow: 0px 0.5px 1px silver;
}
.selected-question > .question-title{
	margin-bottom: 10px;
	font-style: italic;
	font-weight: bold;
}
.selected-question > .question-text{
	margin-bottom: 10px;
}
.Psettings{
	margin:auto;
	box-shadow: 0.2px 0.5px 1.1px gray;
	border-radius: 5px;
	padding: 20px;	
	background-color: white;
	width: 25%;
}
