<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Challenge Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script>const $ = jQuery = require('../static/js/libs/jquery');</script> 
</head>
<body>
	<script src="../static/js/intersect.js"></script>
	<div class="container-fluid">
		<div class="container">
			<div class="challenge">
				<h4 class="challenger"></h4>
				<div class="question">
					<h3 class="domain text-primary"></h3>
					<h4 class="title"></h4>
					<h5 class="text"></h5>
					<form action="" method="" id="notes-form" style="width:50%">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Title">
						</div>
						<div class="notes form-group">
							<textarea name="" class="form-control" rows="5" placeholder="Any additional comments"></textarea>
						</div>
						<div class="form-group">
							<label for="start-date">Start Date</label>
							<input type="date" id="start-date">
							<label for="end-date">End Date</label>
							<input type="date" id="end-date">
						</div>
						<button type="submit" class="btn btn-primary btn-sm">Send Request</button>
						<a href="codegress.html" class="btn btn-primary btn-sm swap">Cancel</a>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="../static/js/challenge.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>