<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Custom Codegress</title> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<link rel="stylesheet" href="../static/css/style.css">
  	<script>const $ = jQuery = require('../static/js/libs/jquery');</script>
</head>
<body style="min-width: 100%" class="hide"> 
    <script src="../static/js/intersect.js"></script>
	<div class="container-fluid">
	    <div class="row">
	    	<div class="col-xs-2">
	    		<ul class="nav nav-sidebar text-center" style="border:1px solid #ddd;">
	    			<li><a href="#" class="tab-notify">Messages</a></li>
	    			<li><a href="#" class="tab-notify">Challenges</a></li>
	    			<li><a href="#" id="questions" class="tab-notify">Question Pool</a></li>
	    		</ul>
	    	</div>
	    	<div class="col-xs-7">
				<div class="feeds">
		    		<ul class="list-inline">
		    			<li class='challenge'><a href='#' class='btn btn-primary btn-sm' data-toggle='modal' data-target='#challenger-modal'><span class="glyphicon glyphicon-plus"></span>&nbsp;Challenge</a></li>
		    		</ul>
		    		<div class="panel-group"></div>
		    	</div>
	    		<ol class="questions"></ol>
	    	</div>
	    	<div class="col-xs-3 graphs">
	    		<div class="graph">
	    			<h1></h1>
	    		</div>
	    	</div>
	    </div>
	    <div id="challenger-modal" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Select a challenger</h4>
		      </div>
		      <div class="modal-body">
		      	<form action="" role="form" id="challenger-select-form">
			        <div class="form-group">
					  <input type="search" class="form-control" id="challenger-select" placeholder="Search Email or Username" autofocus>
				  	</div>
			  	</form>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<script>
      function init(){
        actualInit('https://code-gress-endpoint.appspot.com/_ah/api');
      };
    </script>
  	<script src="https://apis.google.com/js/client.js?onload=init"></script>
	<script src="../static/js/codegress.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>