<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Custom Codegress</title> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="padding-top: 70px;" style="min-width: 100%" class="hide"> 
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
    		<a href="codegress.html" class="navbar-brand">
    		<img id="codegress-logo" style="width:35px;" src="../static/images/codegress/codegress-logo.gif" 
    		alt="codegress logo">
    		</a>
	    </div>
	    <div class="dropdown navbar-right navbar-text">
	    	<div style="margin-right:10px;" data-toggle="dropdown" class="dropdown-toggle handle-image" aria-haspopup="true">
	    		<img id="handle-img" src="../static/images/codegress/default-handle-img.png">
	    		<span class="caret"></span>
	    	</div>
	    	<ul class="dropdown-menu">
	    		<li class="dropdown-header"><span id="header"></span></li>
	    		<li><a href="#" id="logout">Logout</a></li>
	    	</ul>
	    </div>
	</nav>
	<div class="container-fluid">
	    <div class="row">
	    	<div class="col-xs-2">
	    		<ul class="nav nav-sidebar text-center">
	    			<h4>Domains</h4>
	    			<li><a href="strings" class="domain">Strings</a></li>
	    			<li><a href="stacks" class="domain">Stacks</a></li>
	    			<li><a href="queues" class="domain">Queues</a></li>
	    			<li><a href="trees" class="domain">Trees</a></li>
	    		</ul>
	    	</div>
	    	<div class="col-xs-8">
	    		<div id="selected-domain"></div>
	    		<div class="feed-panel">
	    			<ol class="feed"></ol>
	    		</div>
	    	</div>
	    	<div class="col-xs-2">
	    		
	    	</div>
	    </div>
	</div>
	<script>
      function init(){
        actualInit('https://code-gress-endpoint.appspot.com/_ah/api');
      };
    </script>
  	<script src="https://apis.google.com/js/client.js?onload=init"></script>
	<script>const $ = jQuery = require('../static/js/libs/jquery');</script>
	<script src="../static/js/codegress.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>