<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Custom Codegress</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="padding-top: 70px;" style="min-width: 100%"> 
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
    		<a href="codegress.html" class="navbar-brand">
    		<img id="codegress-logo" style="width:35px;" src="../static/images/codegress/codegress-logo.gif" 
    		alt="codegress logo">
    		</a>
	    </div>
	    <div class="dropdown navbar-right navbar-text">
	    	<div style="margin-right:10px;" data-toggle="dropdown" class="dropdown-toggle handle-image" aria-haspopup="true">
	    		<img id="handle-img" src="../static/images/codegress/default-handle-img.png">
	    		<span class="caret"></span>
	    	</div>
	    	<ul class="dropdown-menu">
	    		<li class="dropdown-header"><span id="header"></span></li>
	    		<li><a href="#" id="logout">Logout</a></li>
	    	</ul>
	    </div>
	</nav>
	<div class="container-fluid">
	    <div class="row">
	    	<div class="col-xs-2">
	    		<ul class="nav nav-sidebar">
	    			<li><a href="#">Challenges&nbsp;&nbsp;<span class="badge">4</span></a></li>
	    			<li><a href="#">Messages&nbsp;&nbsp;<span class="badge">1</span></a></li>
	    			<li><a href="#">Submissions&nbsp;&nbsp;<span class="badge">50</span></a></li>
	    		</ul>
	    	</div>
	    	<div class="col-xs-8">
	    		<div class="feed">
	    			<div class="panel panel-default">
	    				<div class="panel-heading">
	    					<span class="text-primary text-center">Lorem ipsum dolor sit amet</span>
	    				</div>
	    				<div class="panel-body">
		    				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident minus recusandae, cupiditate voluptatibus perferendis magnam sit laborum sint, numquam vel ipsam cum ad quo et inventore cumque. Ea, adipisci, omnis!
		    			</div>
		    			<div class="panel-footer">
		    				<a class="text-danger" href="">Solve</a>
		    				<a class="text-danger" href="">Challenge</a>
		    				<a class="text-danger" href="">Comment</a>
		    			</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="col-xs-2">
	    		
	    	</div>
	    </div>
	</div>
	<script>const $ = jQuery = require('../static/js/libs/jquery');</script>
	<script src="../static/js/codegress.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>