<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">  
    <title>Compiler</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  
    <link rel="stylesheet" href="../codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script>const $ = jQuery = require('../static/js/libs/jquery');</script>
  </head>
  <body>
    <script src="../static/js/intersect.js"></script>
    <div class="container">  
        <div class="">
          <h4 id="q-title"></h4>
          <h5 id="q-text"></h5>
        </div>
        <div class="inner-container hide">
          <a id="auto-save-text" class="pull-right text-default"></a>
          <div class="select-wrapper form-group">
              <select id="select-lang" name="" class="form-control">
                  <option value="none" selected disabled>Select Language</option>
                  <option value="Python">Python</option>
                  <option value="Java">Java</option>
              </select>
          </div>
          <div style="display: flex;">
            <div class="editor-wrapper form-group">
              <textarea id="editor" class="form-control" autofocus></textarea>
            </div>
            <div>
              <ol class="ack hide"></ol>
              <div class="ack-footer"></div>
            </div>
          </div>
          <div class="">
              <input type="checkbox" id="custom-input">
              <label for="custom-input">Custom Inputs</label>
          </div>
          <div class="custom-input hide">
            <label for="input">Input</label>
            <div class="form-group">
              <textarea id="input" class="form-control" rows="5"></textarea>
            </div>
          </div>
          <div class="form-group list-inline">
            <li>
              <button type="submit" id="compile-btn" class="btn btn-primary btn-sm" disabled>Compile &amp; Run</button>
            </li>
            <li>
              <img id="loading" src="../static/images/codegress/loading.gif" alt="" style="display:none;" />
            </li>
          </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../codemirror/lib/codemirror.js"></script>
    <script src="../codemirror/mode/python/python.js"></script>
    <script src="../codemirror/mode/clike/clike.js"></script>
    <script src="../codemirror/addon/edit/closebrackets.js"></script>
    <script src="../codemirror/addon/comment/comment.js"></script>
    <script src="../static/js/compiler.js"></script>
    <script>
      function init(){
        actualInit('https://code-gress-endpoint.appspot.com/_ah/api');
      };
    </script>
  <script src="https://apis.google.com/js/client.js?onload=init"></script>
  </body>
</html>
