<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"> 
  <title>Codegress</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">    
  <link rel="stylesheet" href="../static/css/style.css"> 
  <script>const $ = jQuery = require('../static/js/libs/jquery');</script>
</head>
<body class="hide">
  <script src="../static/js/intersect.js"></script>
  <div class="container">
    
    <!-- Sign in form -->
    <div class="signin hide">  
      <form action="" method="post" role="form" class="box" id="signin-form"> 
        <p class="box-title text-danger text-center text-uppercase">Sign in</p><hr>
        <div class="form-group has-feedback" id="signin-email-group">
          <input type="text" id="signin-email" name="email" class="form-control" placeholder="Username / Email" autofocus="true"><span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback" id="signin-password-group">
           <input type="password" id="signin-password" name="password" class="form-control" 
            placeholder="Password">
            <span id="pass-toggle" class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <p><button type="submit" class="btn btn-success btn-sm form-control" id="signin-btn">Sign In</button></p>
        <p><b class="text-danger status"></b></p>
        <p id="forgot" class="hide">
          <a href="#" class="">Don't remember password?</a> 
        </p> 
      </form>
    </div>

    <!-- SignUp form -->
    <div class="signup hide">
      <form action="" method="post" role="form" id="signup-form" class="box">
        <p class="box-title text-danger text-center text-uppercase">Sign up</p><hr>
        <div class="form-group has-feedback " id="signup-username-group">
          <input type="text" id="signup-username" name="username" class="form-control" placeholder="Username" autofocus="true">
        </div>
        <div class="form-group has-feedback " id="signup-email-group">
          <input type="text" id="signup-email" name="email"  value=""
          class="form-control" placeholder="Email">
        </div>
        <div class="form-group has-feedback" id="signup-password-group">
          <input type="password" id="signup-password" name="password" class="form-control" placeholder="Password">
        </div>
        <p><button type="submit" id="signup-btn" class="btn btn-success btn-sm form-control">Sign Up</button></p>
        <p><b class="text-danger status"></b></p>
      </form>
    </div>

   <!-- Recover form -->
    <div class="recover hide">
      <form action="" method="post" role="form" class="box" id="recover-form">
        <p class="box-title text-danger text-center text-uppercase">Email Password</p><hr>
          <div class="form-group has-feedback">
          <input type="text" id="email-forgot" name="email" class="form-control" placeholder="Email" 
          autofocus="true">
        </div>
        <p><button type="submit" class="btn btn-success form-control" id="recover-btn">Recover</button></p>
        <p><b class="text-danger status"></b></p>
      </form>
    </div>
  </div>
	<script src="../static/js/index.js"></script>
  <script>
      function init(){
        initialiseAPI('https://code-gress-endpoint.appspot.com/_ah/api');
      };
  </script>
  <script src="https://apis.google.com/js/client.js?onload=init"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
