<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  
    <link rel="stylesheet" href="../static/css/style.css">
    <script>const $ = jQuery = require('../static/js/libs/jquery');</script>
</head>
<body class="hide">
	<script src="../static/js/intersect.js"></script>
	
	<div class="container">
		<div class="profile-container" style="display: flex;">
			<div class="profile-info">
				<div class="profile-image"> 
					<img src="../static/images/codegress/default-handle-img.png">
				</div>
				<div class="profile-content">
					<ul>
						<li class="pull-right"><span class="glyphicon glyphicon-pencil profile-edit"></span><a href="javascript:void(0)"></a></span></li>
						<li><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Full Name</li>
						<li><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Email</li>
						<li><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Country</li>
					</ul>
				</div>
			</div>
			<div class="profile-editor hide">
				<form action="">
					<ul class="edit-input">
						<li>Name</li>
						<li>
							<div class="row">
							  <div class="col-xs-9"><input class="form-control"name="user-name" id= "user-name" type="text"></div>
							  <div class="col-xs-3"> </div>
							</div>
						</li>
						<li>Email</li>
						<li>
							<div class="row">
							  <div class="col-xs-9"><input class="form-control"name="email" id= "email" type="text"></div>
							  <div class="col-xs-3"> </div>
							</div>
						</li>
						<li>Country</li>
						<li>
							<div class="row">
							  <div class="col-xs-9"><input class="form-control"name="country" id= "country" type="text"></div>
							  <div class="col-xs-3"> </div>
							</div>
						</li>
						<button>Save</button>
					</ul>
					<hr>
					<ul class="edit-password">
						<li>Old Password</li>
						<li>
							<div class="row">
							  <div class="col-xs-9"><input class="form-control"name="old-password" id= "old-password" type="text"></div>
							  <div class="col-xs-3"> </div>
							</div>
						</li>
						<li>New Password</li>
						<li>
							<div class="row">
							  <div class="col-xs-9"><input class="form-control"name="new-password" id= "new-password" type="text"></div>
							  <div class="col-xs-3"> </div>
							</div>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
	
	

	<script src="../static/js/profile.js"></script>
	<script>
      function init(){
        actualInit('https://code-gress-endpoint.appspot.com/_ah/api');
      };
    </script>
  <script src="https://apis.google.com/js/client.js?onload=init"></script>
</body>
</html>