<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  
    <link rel="stylesheet" href="../static/css/style.css">
    <script>const $ = jQuery = require('../static/js/libs/jquery');</script>
</head>
<body class="hide">
	<script src="../static/js/intersect.js"></script>
	
	<div class="container">
		<div class="profile-container">
			<div class="profile-image"><img src="../static/images/codegress/default-handle-img.png"></div>
			<div class="profile-content">
			<ul>
				<li class="pencil fullname-pencil"><span class="glyphicon glyphicon-user"></span></span>&nbsp; &nbsp; <span id='fullname'>Fullname</span>  &nbsp; &nbsp; <span class="glyphicon glyphicon-pencil hide pull-right"></span></li>
				<li class='hide fullname-change'>
					<form action="">
						<ul class='list-inline fullname-btns'>
							<li><input type="text" name="fullname" id="fullname-edit"></li>
							<li><button class='btn btn-primary btn-xs'><span class="glyphicon glyphicon-ok"></span></button></li>
							<li><button class='btn btn-default btn-xs'><span class="glyphicon glyphicon-remove"></span></button></button></li>
						</ul>
					</form>
				</li>
				<li class="pencil email-pencil"><span class="glyphicon glyphicon-envelope"></span>&nbsp; &nbsp; <span id='email'>Email</span>  &nbsp; &nbsp; <span class="glyphicon glyphicon-pencil hide pull-right"></span></li>
				<li class='hide email-change'>
					<form action="">
						<input type="text" name="email" id="email-edit">
						<ul class='list-inline email-btns'>
							<li><button class='btn btn-primary btn-xs'>Save</button></li>
							<li><button class='btn btn-default btn-xs'>Cancel</button></li>
						</ul>
					</form>
				</li>
				<li class="pencil country-pencil"><span class="glyphicon glyphicon-globe"></span>&nbsp; &nbsp; <span id='country'>Country</span>  &nbsp; &nbsp;<span class="glyphicon glyphicon-pencil hide pull-right"></span></li>
				<li class='hide country-change'>
					<form action="">
						<input type="text" name="country" id="country-edit">
						<ul class='list-inline country-btns'>
							<li><button class='btn btn-primary btn-xs'>Save</button></li>
							<li><button class='btn btn-default btn-xs'>Cancel</button></li>
						</ul>
					</form>
				</li>
			</ul>
			</div>
		</div>
	</div>

	<script src="../static/js/profile.js"></script>
	<script>
      function init(){
        actualInit('https://code-gress-endpoint.appspot.com/_ah/api');
      };
    </script>
  <script src="https://apis.google.com/js/client.js?onload=init"></script>
</body>
</html>